extends layout

block content
  h1= title
  p Welcome to the animal pug
  div(class="container-fluid")
        div(class="row")
            -
                let animal = results
            each v,index in animal
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.ctype}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.cnum}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.location}
  script.                
    function buy(itemNo)
    {
        alert(`you purchased Item ${itemNo+1}`)
    }